[Akara]
Port=8889
LogLevel=DEBUG

[CouchDb]
URL=${COUCHDB_URL}
Username=${COUCHDB_USER}
Password=${COUCHDB_PASS}
Server=${COUCHDB_URL}
ItemDatabase=${ItemDatabase}
DashboardDatabase=${DashboardDatabase}

[Geonames]
Username=${GEONAMES_USER}

[Enrichment]
QueueSize=${QUEUE_SIZE}
ThreadCount=${THREAD_COUNT}

[Alert]
To=${EMAIL_TO}
From=${EMAIL_FROM}
